.slick-slider {
  height: 900px;
}

.slick-dots {
  position: relative;
  bottom: 300px;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 32.5px;
}

.slick-dots li {
  width: 10px;
  height: 10px;
  background-color: #f8eefd;
  cursor: pointer;
}

.slick-dots li button {
  width: 10px;
  height: 10px;
}

.slick-dots li button::before {
  content: "";
  width: 10px;
  height: 10px;
}

.slick-dots .slick-active {
  background-color: #6630ff;
}

@media all and (max-width: 360px) {
  .slick-dots {
    max-width: 360px;
  }
}

@media all and (max-width: 768px) {
  .slick-dots {
    bottom: 280px;
    text-align: left;
  }
}

@media all and (min-width: 768px) {
  .slick-dots {
    margin: 0 32.5px;
    padding: 0 26px;
    max-width: 768px;
  }
}

@media all and (min-width: 1366px) {
  .slick-dots {
    min-width: 1240px;
  }
}
